# Secrets and local overrides
cf_worker/.dev.vars
.env
*.local.json




__pycache__/
*.pyc
.venv/
*.aux
*.log
*.out
*.toc
*.synctex*

# packaging
*.egg-info/
dist/
build/

# npm
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

npm/mcp-wrapper/.npmrc
